/* @import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap'); */

* {
	/* font-family: 'Inknut Antiqua', serif; */
	font-family: 'Inter', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.welcome-block {
	pointer-events: none;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: welcomeBlock 0.7s ease-in-out forwards;
}

@keyframes welcomeBlock {
	0% {
		width: 0rem;
		height: 0rem;
		border-width: 0px;
	}
	100% {
		width: 10rem;
		height: 10rem;
		border-width: 4px;
	}
}

.welcome-text {
	line-height: 0 !important;
	text-align: center;
	animation: welcomeText 0.7s ease-in-out forwards;
}
@keyframes welcomeText {
	0% {
		font-size: 0rem;
		font-weight: 700;
	}
	100% {
		font-size: 9rem;
		font-weight: 700;
	}
}

.welcome-cross {
	position: absolute;
	height: 0.75rem;
	animation: welcomeCross 1.3s ease-in-out forwards;
}
@keyframes welcomeCross {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}
